body, div {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Georgia, Times, Times New Roman, serif"
}

.fromDiv {
	text-align: left;
	width: 49%;
	color: gray;
	font-size: 12px;
}

.dateDiv {
	text-align: right;
	width: 49%;
	color: gray;
	font-size: 12px;
	vertical-align: top;
}

.inline {
	display: inline-block;
}

.button {
	background-color: white;
    border: none;
    color: gray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    width: 24%;
}

/*button: disabled {
    cursor: default;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}*/

.headerDiv {
	width: 100%;
	box-sizing: border-box;
}

.footerDiv {
	width: 100%;
	margin-bottom: 30px;
}

.subjectDiv {
	padding-top: 20px;
	font-size: 16px;
}

.messageDiv {
	padding-top: 20px;
	font-size: 14px;
	padding-bottom: 20px;
}

@media only screen and (min-width: 720px) {
    .mainDiv {
        width: 720px;
        margin: auto;
    }
}

@media only screen and (max-width: 720px) {
    .mainDiv {
        margin: 20px;
    }
}

#signIn {
	width: 120px;
	text-align: center;
	font-size: 20px;
	margin: auto;
	margin-top: 100px;
}