body, div {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Georgia, Times, Times New Roman, serif"
}

body {
	background-color: #f5f5f5;
	margin-top: 50px;
}
.mainDiv {
	transition: all 3s ease-in-out;
	-webkit-transition: all 3s ease-in-out;
	-moz-transition: all 3s ease-in-out;
	-ms-transition: all 3s ease-in-out;
	-o-transition: all 3s ease-in-out;
	background-color: white;
	padding: 15px 0px 0px 15px;
}

.fromDiv {
	text-align: left;
	width: 49%;
	color: gray;
	font-size: 12px;
}

.dateDiv {
	text-align: right;
	width: 49%;
	color: gray;
	font-size: 12px;
	vertical-align: top;
}

.inline {
	display: inline-block;
}

.button {
	background-color: white;
    border: none;
    color: gray;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    width: 24%;

}

.button:hover {
    color: gray;
    font-size: 18px;
    /*text-shadow: 1px 1px 0px #000;*/
}

.headerDiv {
	width: 100%;
	box-sizing: border-box;
}

.footerDiv {
	width: 100%;
	margin-bottom: 30px;
}

.subjectDiv {
	padding-top: 20px;
	font-size: 16px;
}

.messageDiv {
	padding-top: 20px;
	font-size: 14px;
	padding-bottom: 20px;
}

@media only screen and (min-width: 720px) {
    .mainDiv {
        width: 720px;
        margin: auto;
    }
}

@media only screen and (max-width: 720px) {
    .mainDiv {
        margin: 20px; 
    }
}

#signIn {
	width: 120px;
	text-align: center;
	font-size: 20px;
	margin: auto;
	margin-top: 100px;
}